/* pages/Login/Login.css */

.login-container {
  justify-content: center;
  display: flex;
  margin-top: 16px;

}

.container-title {
  padding-top: 15px;
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}


.login {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  width: 350px;
  height: 350px;
  margin: 100px;
  padding: 50px;
  border-radius: 25px;
  background-color: var(--color-secondary);
}
.input1{
  border-radius: 35px;
  padding: 5px;
  width: 100%;
  width: 250px;
  height: 35px;

}

.button {
  cursor: pointer;
  background-color: #e7e7e7;
  padding: 10px 24px;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px 
  transition-duration 0.4s;
}

.button:hover {
  background-color: var(--color-primary); 
  color: white;
}

